<!DOCTYPE html>
<html>

<head>
  <title>注册</title>
  <% include head %>
</head>

<body>
  <form action="/artile/wenzhang" method="post">
    <input type="hidden" name="id" value="<%- item.id%>">
    <input type="hidden" name="page" value="<%- item.page%>">

    <div class="form-group">
      <input type="text" class="form-control" name="title" value="" placeholder="请输入文章标题">
    </div>
    <div>
      <textarea name="content" class="editor"><%- item.content%></textarea>
    </div>

    <% if(item.id){%>
    <input type="submit" value="修改" class="btn btn-primary">
    <%} else{%>
    <input type="submit" value="发布" class="btn btn-primary">
      <%}%>
  </form>
  <script>
    ClassicEditor
      .create(document.querySelector('.editor'),{
            ckfinder:{
              uploadUrl:'/artile/upload' //上传文件接口
            }
       }).catch(error => {
         console.error(error);
    }); 
    </script>
</body>

</html>